
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.todolist-user {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}

.todolist-user input {
    font-size: 2rem;
    width: 15rem;
    margin-left: 0.5rem;
    border: none; /* Remove all borders */
    border-bottom: 1px solid black; /* Add a bottom border */
    outline: none; /* Remove the default focus outline (optional) */
}

.add-container {
    display: grid;
    place-items: center;
}


.addtodo {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Adjust the max width as needed for responsiveness */
    width: 100%; /* Ensure the div takes the full width of the container */
  }

  .progress p {
    margin: 0
  }

